* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: none;
    font-family: roboto, arial, helvetica;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 30%;
    height: fit-content;
    background: none;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.card-header {
    text-align: left;
    margin-left: 10px;
    padding: 30x 10px 10px 10px;
    background: none;
    color: Blue;
    font-size: 10px;
}

.card-body {
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
}

.card-body2 {
    padding: 15px 20px;
    position: initial;
    font-size: 18px;
}

.card-body p {
    font-size: 30px;
    font-style: inherit;
}

.card-body .btn1 {
    display: block;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #6C63FF, #00BFFF);
    margin-top: 15px;
    text-decoration: none;
    padding: 10px 5px;
}

.card-body2 .btn {
    width: 10pc;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    color: #6C63FF;
    text-align: center;
    background: #fff;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px 5px;
}

.card-body .btn {
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    color: #6C63FF;
    text-align: center;
    background: #fff;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px 5px;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 80%;
    }
}